<!DOCTYPE html>
<html lang="en-US" class="yes-js js_active js scheme_default">
<head>
    <title>Alice&#039;s Lingerie Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="images/cropped-512x512-90x90.png" sizes="32x32" />
    <link rel='stylesheet' href='css/fontello/css/fontello-embedded.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css'media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/template-color.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/essential-grid/public/assets/css/lightbox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/essential-grid/public/assets/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/essential-grid.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
</head>

<body style="background-color: black !important;" class="page-template-default page scheme_default remove_margins body_style_wide expand_content no_layout">
    <div class="body_wrap">
        <div class="page_wrap">
            <%-include('../components/header')%>
                <%-body%>
            <%-include('../components/footer')%>
        </div>
        <!-- /.page_wrap -->
    </div>
    <!-- /.body_wrap -->

    <div id="trx_addons_login_popup" class="trx_addons_popup trx_addons_tabs mfp-hide">
        <ul class="trx_addons_tabs_titles">
            <li class="trx_addons_tabs_title trx_addons_tabs_title_login">
                <a href="#trx_addons_login_content"><i class="trx_addons_icon-lock-open"></i>Login</a>
            </li>
            <li class="trx_addons_tabs_title trx_addons_tabs_title_register" data-disabled="true">
                <a href="#trx_addons_register_content"><i class="trx_addons_icon-user-plus"></i>Register</a>
            </li>
        </ul>
        <div id="trx_addons_login_content" class="trx_addons_tabs_content trx_addons_login_content">
            <div>
                <div class="trx_addons_popup_form_wrap trx_addons_popup_form_wrap_login">
                    <form class="trx_addons_popup_form trx_addons_popup_form_login sc_input_hover_iconed" action="#"
                        method="post" name="trx_addons_login_form">
                        <input type="hidden" id="redirect_to" name="redirect_to" value="">
                        <div class="trx_addons_popup_form_field trx_addons_popup_form_field_login">
                            <label class="sc_form_field sc_form_field_log required">
                                <span class="sc_form_field_wrap"><input type="text" name="log" id="log" value="">
                                    <span class="sc_form_field_hover"><i
                                            class="sc_form_field_icon trx_addons_icon-user-alt"></i>
                                        <span class="sc_form_field_content" data-content="Login">Login</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="trx_addons_popup_form_field trx_addons_popup_form_field_password">
                            <label class="sc_form_field sc_form_field_pwd required">
                                <span class="sc_form_field_wrap"><input type="password" name="pwd" id="pwd" value="">
                                    <span class="sc_form_field_hover"><i
                                            class="sc_form_field_icon trx_addons_icon-lock"></i>
                                        <span class="sc_form_field_content" data-content="Password">Password</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="trx_addons_popup_form_field trx_addons_popup_form_field_remember">
                            <a href="#" class="trx_addons_popup_form_field_forgot_password">Forgot password?</a>
                            <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                            <label for="rememberme"> Remember me</label>
                        </div>
                        <div class="trx_addons_popup_form_field trx_addons_popup_form_field_submit">
                            <input type="submit" class="submit_button" value="Login">
                        </div>
                        <div class="trx_addons_message_box sc_form_result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='js/vendor/jquery-3.2.1.min.js'></script>
    <script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/vendor/theme.gallery/modernizr.min.js'></script>
    <script type='text/javascript' src='js/vendor/theme.gallery/imagesloaded.min.js'></script>
    <script type='text/javascript' src='js/vendor/theme.gallery/theme.gallery.js'></script>
    <script type='text/javascript' src='js/vendor/theme.gallery/masonry.min.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>
    <script type='text/javascript' src='js/vendor/superfish.js'></script>
    <script type='text/javascript' src='js/custom/_main.js'></script>
    <script type='text/javascript' src='js/custom/_utils.js'></script>
    <script type='text/javascript' src='js/custom/_init.js'></script>
    <script type='text/javascript' src='js/vendor/theme.hovers/theme.hovers.js'></script>
    <a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a>
</body>

</html>