<footer class="footer_wrap footer_custom scheme_default" style="margin-top:20px;padding:10px">
    <div class="column_row sc_layouts_row sc_layouts_row_type_normal">
        <div class="column_container column-1_1 sc_layouts_column_icons_position_left">
            <div class="column-inner bg_light">
                <div class="text_column">
                    <!-- <div class="empty_space hide_on_mobile h-3_5em"><span class="empty_space_inner"></span></div> -->
                    <!-- <div class="empty_space h-4em"><span class="empty_space_inner"></span></div> -->

                    <!-- /.sc_content -->
                    <!-- <div class="empty_space h-2em"><span class="empty_space_inner"></span></div> -->
                    <div class="sc_content sc_content_default sc_float_center sc_align_center sc_content_width_1_1">
                        <div class="sc_content_container">
                            <div class="sc_layouts_item">
                                <nav class="sc_layouts_menu sc_layouts_menu_default menu_hover_fade"
                                    data-animation-in="fadeIn" data-animation-out="fadeOut">
                                    <ul id="menu_footer" class="sc_layouts_menu_nav menu_footer_nav">
                                        <li class="menu-item menu-item-home">
                                            <a href="/">
                                                <span>Home</span>
                                            </a>
                                        </li>




                                        <li class="menu-item">
                                            <a href="/shop">
                                                <span>Shop</span>
                                            </a>
                                        </li>

                                        <li class="menu-item">
                                            <a href="/contacts">
                                                <span>Contacts</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- /.sc_layouts_menu -->
                            </div>
                        </div>
                    </div>
                    <!-- /.sc_content -->
                    <!-- <div class="empty_space h-2_2em"><span class="empty_space_inner"></span></div> -->
                    <div class="sc_content sc_content_default sc_float_center sc_align_center sc_content_width_1_1">
                        <div class="sc_content_container">
                            <div class="text_column">
                                <div class="widget widget_text">
                                    <div class="textwidget">
                                        <div class="fsz_13px fw_400">&copy;2017 Alice’s Lingerie Store. All Rights
                                            Reserved. <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.sc_content -->
                    <!-- <div class="empty_space h-3_2em"><span class="empty_space_inner"></span></div> -->
                    <!-- <div class="empty_space  hide_on_mobile h-3em"><span class="empty_space_inner"></span></div> -->
                </div>
            </div>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


<script>
    async function buynow() {
      await  addToCart()
        window.location.href = '/checkout'

    }
    async function addToCart() {
            let productId = document.getElementById("product-id").value;
            let quantity = document.getElementById("quantity").value;
            let color = document.getElementById("pa_color").value;
            let size = document.getElementById("pa_size").value;
            size = size != " " ? size : "m "
            color = color != "" ? color : "red-passion"
            console.log({
                productId,
                quantity,
                color,
                size
            });
            let response = await $.ajax({
                url: "/api/cart",
                method: "POST",
                data: {
                    productId,
                    quantity,
                    color,
                    size
                }
            })
            console.log("Add to cart response: ",response)
            getCartData()
       
    }

    function addCartItem(cartItem, index) {
        return `
        <li class="mini_cart_item">
        <a href="#" class="remove" onclick="removeCartItem(${index})"
    title="Remove this item">×</a>
    <a href="/product/${cartItem.product}" style="padding-right: 10px;">
        <img src="${cartItem.featureImage}"
            alt="">${cartItem.name}
    </a>
    <dl class="variation">
       
    </dl>
        <span class="quantity">${cartItem.quantity} × <span
            class="amount">${cartItem.price}<span
                class="woocommerce-Price-currencySymbol">$</span></span>
        </span>
    </li>
        `
    }
    async function removeCartItem(deleteIndex) {
        await $.ajax({
            url: '/api/delete-cart',
            method: 'post',
            data: {
                deleteIndex: deleteIndex
            }
        })
        await getCartData();
    }
    async function getCartData() {
        let response = await $.ajax({
            method: "GET",
            url: '/api/cart'
        })
        let cartDom = document.getElementById("cart-list")
        let cartQuantity = document.getElementById("cart-quantity")
        let cartSubtotal = document.getElementById("cart-subtotal")
        cartDom.innerHTML = ""
        console.log("GET CART DATA RESPONSE: ",response);
        let subtotal = 0;
        for (let i = 0; i < response.length; i++) {
            const cartItem = response[i];
            cartDom.innerHTML += addCartItem(cartItem, i)
            subtotal += parseFloat(cartItem.price) * parseFloat(cartItem.quantity);
        }
        cartSubtotal.innerHTML = subtotal.toFixed(2);
        cartQuantity.innerHTML = response.length;
    }
    getCartData()
</script>