<header class="top_panel top_panel_custom without_bg_image scheme_default">
    <div class="column_row sc_layouts_row sc_layouts_row_type_narrow sc_layouts_row_delimiter scheme_dark">
        <div class="column-equal-height column-content-middle column-flex">
            <div class="container">
                <div class="sc_content_width_1_1" style="margin:0px auto">
                    <div class="column_row">
                        <div class="columns_wrap">
                            <div class="column_container column-2_3 sc_layouts_column sc_layouts_column_align_left sc_layouts_column_icons_position_left">
                                <div class="column-inner">
                                    <div class="sc_layouts_item sc_layouts_hide_on_mobile">
                                        <nav class="sc_layouts_menu sc_layouts_menu_default menu_hover_fade hide_on_mobile" data-animation-in="fadeInUpSmall" data-animation-out="fadeOutDownSmall">
                                            <ul id="menu-top-menu" class="sc_layouts_menu_nav">
                                                <li class="menu-item">
                                                    <a href="/">
                                                        <span>Home</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/contacts">
                                                        <span>Contacts Us</span>
                                                    </a>
                                                </li>


                                                <li class="color_text_link menu-item">
                                                    <a href="/shop">
                                                        <span>free shipping over $50</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="column_container column-1_3 sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left">
                                <div class="column-inner">
                                    <div class="wrapper">
                                        <div class="sc_layouts_item">
                                            <div class="sc_layouts_login">
                                                <a href="#trx_addons_login_popup" class="trx_addons_popup_link trx_addons_login_link ">
                                                    <span class="sc_layouts_item_icon sc_layouts_login_icon trx_addons_icon-user-alt">
                                                    </span>

                                                </a>
                                            </div>
                                        </div>
                                        <div class="sc_layouts_item">
                                            <div class="sc_layouts_cart">
                                                <span class="sc_layouts_item_icon sc_layouts_cart_icon trx_addons_icon-basket">
                                                </span>
                                                <span class="sc_layouts_item_details sc_layouts_cart_details">
                                                    <span
                                                        class="sc_layouts_item_details_line1 sc_layouts_cart_label">Shopping
                                                        Cart</span>
                                                <span class="sc_layouts_item_details_line2 sc_layouts_cart_totals">
                                                        <span class="sc_layouts_cart_items">1 items</span> -
                                                <span class="sc_layouts_cart_summa">00.00&#36;</span>
                                                </span>
                                                </span>
                                                <span class="sc_layouts_cart_items_short" id="cart-quantity"></span>
                                                <div class="sc_layouts_cart_widget widget_area">
                                                    <span class="sc_layouts_cart_widget_close trx_addons_icon-cancel">
                                                    </span>
                                                    <div class="widget woocommerce widget_shopping_cart">
                                                        <div class="hide_cart_widget_if_empty">
                                                            <div class="widget_shopping_cart_content">
                                                                <ul class="cart_list product_list_widget " id="cart-list" >


                                                                </ul>
                                                                <!-- end product list -->
                                                                <p class="total"><strong>Subtotal:</strong>
                                                                    <span class="amount"><span  id="cart-subtotal">00.00</span>
                                                                    <span class="woocommerce-Price-currencySymbol">$</span></span>
                                                                </p>
                                                                <p class="buttons">
                                                                    <a href="/checkout" class="button checkout wc-forward sc_button_hover_slide_left">Checkout</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="column_row sc_layouts_row sc_layouts_row_type_normal sc_layouts_row_fixed scheme_default bg_light">
        <div class="column-equal-height column-content-middle column-flex">
            <div class="container">
                <div class="sc_content_width_1_1" style="margin:0px auto">
                    <div class="column_row">
                        <div class="columns_wrap">
                            <div class="column_container column-1_3 sc_layouts_column sc_layouts_column_align_left sc_layouts_column_icons_position_left">
                                <div class="column-inner">
                                    <div class="sc_layouts_item">
                                        <!-- .sc_layouts_logo -->
                                        <a href="/" class="sc_layouts_logo sc_layouts_logo_default">
                                            <img class="logo_image" src="images/logo.png" alt="">
                                        </a>
                                        <!-- /.sc_layouts_logo -->
                                    </div>
                                </div>
                            </div>
                            <div class="column_container column-2_3 sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left">
                                <div class="column-inner">

                                    <div class="sc_layouts_item">
                                        <!-- .sc_layouts_menu -->
                                        <nav class="sc_layouts_menu sc_layouts_menu_default menu_hover_fade hide_on_mobile" data-animation-in="fadeInUpSmall" data-animation-out="fadeOutDownSmall">
                                            <ul id="menu-main-menu" class="sc_layouts_menu_nav">
                                                <li class="menu-item">
                                                    <a href="/">
                                                        <span>Home</span>
                                                    </a>
                                                </li>                                              
                                                <li class="menu-item">
                                                    <a href="/shop">
                                                        <span>Store</span>
                                                    </a>

                                                </li>                                             
                                                <li class="menu-item">
                                                    <a href="/contacts">
                                                        <span>Contacts</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <!-- /.sc_layouts_menu -->
                                        <div class="sc_layouts_iconed_text sc_layouts_menu_mobile_button">
                                            <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="#">
                                                <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="menu_mobile_overlay"></div>
    <div class="menu_mobile scheme_dark">
        <div class="menu_mobile_inner">
            <a class="menu_mobile_close icon-cancel"></a>
            <a class="sc_layouts_logo" href="/"><img src="/images/logo_light.png" alt=""></a>
            <nav class="menu_mobile_nav_area">
                <ul id="menu_mobile-main-menu" class="">
                    <li class="menu-item">
                        <a href="/">
                            <span>Home</span>
                        </a>

                    </li>
                   

                    <li class="menu-item">
                        <a href="/shop">
                            <span>Store</span>
                        </a>

                    </li>
                    
                    <li class="menu-item">
                        <a href="/contacts">
                            <span>Contacts</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="search_wrap search_style_normal search_mobile">
                <div class="search_form_wrap">
                    <form role="search" method="get" class="search_form" action="#">
                        <input type="text" class="search_field" placeholder="Search" value="" name="s">
                        <button type="submit" class="search_submit trx_addons_icon-search"></button>
                    </form>
                </div>
            </div>
            <div class="socials_mobile">
                <span class="social_item">
                    <a href="#" class="social_icons social_twitter">
                        <span class="trx_addons_icon-twitter"></span>
                </a>
                </span><span class="social_item">
                    <a href="#" class="social_icons social_facebook">
                        <span class="trx_addons_icon-facebook"></span>
                </a>
                </span><span class="social_item">
                    <a href="#" class="social_icons social_gplus">
                        <span class="trx_addons_icon-gplus"></span>
                </a>
                </span><span class="social_item">
                    <a href="#" class="social_icons social_instagram">
                        <span class="trx_addons_icon-instagram"></span>
                </a>
                </span>
            </div>
        </div>
    </div>
</header>