
<div class="page_content_wrap scheme_default">
    <div class="content">
        <article class="post_item_single post_type_page page type-page">
            <div class="post_content entry-content">
                <section>
                    <div class="content_container">
                        <div class="column_row">
                            <div class="column_container column-1_1 sc_layouts_column_icons_position_left">
                                <div class="column-inner">
                                    <div class="empty_space h-3_3em"><span class="empty_space_inner"></span></div>
                                    <div class="text_column">
                                        <div class="align_center">
                                            <figure>
                                                <div><img src="images/bg_about2.jpg" alt="" /></div>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="empty_space h-3_9em"><span class="empty_space_inner"></span></div>
                                    <div class="sc_title sc_title_default">
                                        <h2
                                            class="sc_item_title sc_title_title sc_align_center sc_item_title_style_default">
                                            We Are the Best!</h2>
                                        <div class="sc_item_descr sc_title_descr sc_align_center">lorem ipsum sit dolore
                                        </div>
                                    </div>
                                    <!-- /.sc_title -->
                                    <div class="empty_space h-3em"><span class="empty_space_inner"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content_container">
                        <div class="column_row">
                            <div class="column-inner">
                                <div class="columns_wrap">
                                    <div class="column_container column-1_3 sc_layouts_column_icons_position_left">
                                        <div class="column-inner">
                                            <div class="text_column">
                                                <p><span
                                                        class="trx_addons_dropcap trx_addons_dropcap_style_2">D</span>olor
                                                    ipsum dolor sit amet, dolor sit eiusmod tempor incididunt ut amet
                                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                                    ut aliquip ex ea commodo consequatm. eaque ipsa quae ab illo
                                                    inventore. Lorem ipsum dolor sit amet, consect etur adipisicing
                                                    elit, sed do eiusmod tempor inci idunt ut labore et dolore magna
                                                    aliqua. ad minim veniam, quis nostrud exercitation.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column_container column-1_3 sc_layouts_column_icons_position_left">
                                        <div class="column-inner">
                                            <div class="text_column">
                                                <p>Morbi tellus nisl, accumsan quis bibendum in, vulptate nec arcu.
                                                    Fusce et purus tellus. Quisque neque miitudi in nibh eget, euismod
                                                    blandit mauris. Sed accumsano maximus fermentum. Pellentesque leo
                                                    tortor, acusanet justo aliquet, iaculis malesuada urna uspendisse
                                                    nunc libero, vulputate a dui in, tempor faucibus erat. Ut eui od
                                                    malesuada neque in placerat. Proin lobortis dolorx a iaculis quam
                                                    posullentesque massaeo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column_container column-1_3 sc_layouts_column_icons_position_left">
                                        <div class="column-inner">
                                            <div class="text_column">
                                                <p>Morbi tellus nisl, accumsan quis bibendum in, vulptate nec arcu.
                                                    Fusce et purus tellus. Quisque neque miitudi in nibh eget, euismod
                                                    blandit mauris. Sed accumsano maximus fermentum. Pellentesque leo
                                                    tortor, acusanet justo aliquet, iaculis malesuada urna uspendisse
                                                    nunc libero, vulputate a dui in, tempor faucibus erat. Ut eui od
                                                    malesuada neque in placerat. Proin lobortis dolorx a iaculis quam
                                                    posuere id ellentesque.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="container-fluid">
                        <div class="column_container column-1_1  sc_layouts_column_icons_position_left">
                            <div class="column-inner">
                                <div class="empty_space h-5em"><span class="empty_space_inner"></span></div>
                                <div class="empty_space  hide_on_mobile h-2em"><span class="empty_space_inner"></span>
                                </div>
                                <article class="myportfolio-container minimal-light" id="esg-grid-3-1-wrap">
                                    <div id="esg-grid-3-1" class="esg-grid esg-grid_global">
                                        <ul>
                                            <li
                                                class="filterall filter-highlights-of-the-runway filter-knickers filter-undershirt eg-theme-wrapper">
                                                <div class="esg-media-cover-wrapper">
                                                    <div class="esg-entry-media">
                                                        <img src="images/post-28.jpg" alt="">
                                                    </div>
                                                    <div class="esg-entry-cover esg-fade" data-delay="0">
                                                        <div class="esg-overlay esg-fade eg-theme-container"
                                                            data-delay="0"></div>
                                                        <div class="esg-center eg-theme-element-0-a esg-falldown"
                                                            data-delay="0.1">
                                                            <a class="eg-theme-element-0 esgbox"
                                                                href="images/post-28.jpg" title="Divide and Conquer"><i
                                                                    class="eg-icon-search"></i>
                                                            </a>
                                                        </div>
                                                        <div class="esg-center eg-theme-element-1-a esg-falldown"
                                                            data-delay="0.2">
                                                            <a class="eg-theme-element-1" href="#">
                                                                <i class="eg-icon-link"></i>
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-8 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                        <div class="esg-center eg-theme-element-3 esg-flipup"
                                                            data-delay="0.1">Divide and Conquer</div>
                                                        <div
                                                            class="esg-center eg-theme-element-9 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li
                                                class="filterall filter-beautiful-reclessness filter-briefs filter-panty-hose eg-theme-wrapper">
                                                <div class="esg-media-cover-wrapper">
                                                    <div class="esg-entry-media">
                                                        <img src="images/post-27.jpg" alt="">
                                                    </div>
                                                    <div class="esg-entry-cover esg-fade" data-delay="0">
                                                        <div class="esg-overlay esg-fade eg-theme-container"
                                                            data-delay="0"></div>
                                                        <div class="esg-center eg-theme-element-0-a esg-falldown"
                                                            data-delay="0.1">
                                                            <a class="eg-theme-element-0 esgbox"
                                                                href="images/post-27.jpg"
                                                                title="The Comfort of Sleep is Cruicial">
                                                                <i class="eg-icon-search"></i>
                                                            </a>
                                                        </div>
                                                        <div class="esg-center eg-theme-element-1-a esg-falldown"
                                                            data-delay="0.2">
                                                            <a class="eg-theme-element-1" href="#">
                                                                <i class="eg-icon-link"></i>
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-8 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                        <div class="esg-center eg-theme-element-3 esg-flipup"
                                                            data-delay="0.1">The Comfort of Sleep is Cruicial</div>
                                                        <div
                                                            class="esg-center eg-theme-element-9 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li
                                                class="filterall filter-beautiful-reclessness filter-knickers filter-undershirt eg-theme-wrapper">
                                                <div class="esg-media-cover-wrapper">
                                                    <div class="esg-entry-media">
                                                        <img src="images/post-26.jpg" alt="">
                                                    </div>
                                                    <div class="esg-entry-cover esg-fade" data-delay="0">
                                                        <div class="esg-overlay esg-fade eg-theme-container"
                                                            data-delay="0"></div>
                                                        <div class="esg-center eg-theme-element-0-a esg-falldown"
                                                            data-delay="0.1">
                                                            <a class="eg-theme-element-0 esgbox"
                                                                href="images/post-26.jpg"
                                                                title="Your Holiday Shop Assistant">
                                                                <i class="eg-icon-search"></i>
                                                            </a>
                                                        </div>
                                                        <div class="esg-center eg-theme-element-1-a esg-falldown"
                                                            data-delay="0.2">
                                                            <a class="eg-theme-element-1" href="#">
                                                                <i class="eg-icon-link"></i>
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-8 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                        <div class="esg-center eg-theme-element-3 esg-flipup"
                                                            data-delay="0.1">Your Holiday Shop Assistant</div>
                                                        <div
                                                            class="esg-center eg-theme-element-9 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li
                                                class="filterall filter-christian-louboutin-show filter-givenchy-fw-2016 filter-highlights-of-the-runway filter-spring-by-gaultier filter-briefs filter-panty-hose eg-theme-wrapper">
                                                <div class="esg-media-cover-wrapper">
                                                    <div class="esg-entry-media">
                                                        <img src="images/post-25.jpg" alt="">
                                                    </div>
                                                    <div class="esg-entry-cover esg-fade" data-delay="0">
                                                        <div class="esg-overlay esg-fade eg-theme-container"
                                                            data-delay="0"></div>
                                                        <div class="esg-center eg-theme-element-0-a esg-falldown"
                                                            data-delay="0.1">
                                                            <a class="eg-theme-element-0 esgbox"
                                                                href="images/post-25.jpg"
                                                                title="Our Gift for Beautiful Brides">
                                                                <i class="eg-icon-search"></i>
                                                            </a>
                                                        </div>
                                                        <div class="esg-center eg-theme-element-1-a esg-falldown"
                                                            data-delay="0.2">
                                                            <a class="eg-theme-element-1" href="#">
                                                                <i class="eg-icon-link"></i>
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-8 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                        <div class="esg-center eg-theme-element-3 esg-flipup"
                                                            data-delay="0.1">Our Gift for Beautiful Brides</div>
                                                        <div
                                                            class="esg-center eg-theme-element-9 esg-none esg-clear  h_5px vis_hid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li
                                                class="filterall filter-beautiful-reclessness filter-knickers filter-undershirt eg-theme-wrapper">
                                                <div class="esg-media-cover-wrapper">
                                                    <div class="esg-entry-media">
                                                        <img src="images/post-24.jpg" alt="">
                                                    </div>
                                                    <div class="esg-entry-cover esg-fade" data-delay="0">
                                                        <div class="esg-overlay esg-fade eg-theme-container"
                                                            data-delay="0"></div>
                                                        <div class="esg-center eg-theme-element-0-a esg-falldown"
                                                            data-delay="0.1">
                                                            <a class="eg-theme-element-0 esgbox"
                                                                href="images/post-24.jpg"
                                                                title="Chocolate Passion in Your Master Bedroom">
                                                                <i class="eg-icon-search"></i>
                                                            </a>
                                                        </div>
                                                        <div class="esg-center eg-theme-element-1-a esg-falldown"
                                                            data-delay="0.2">
                                                            <a class="eg-theme-element-1" href="#">
                                                                <i class="eg-icon-link"></i>
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-8 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                        <div class="esg-center eg-theme-element-3 esg-flipup"
                                                            data-delay="0.1">Chocolate Passion in Your Master Bedroom
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-9 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li
                                                class="filterall filter-highlights-of-the-runway filter-briefs filter-panty-hose eg-theme-wrapper">
                                                <div class="esg-media-cover-wrapper">
                                                    <div class="esg-entry-media">
                                                        <img src="images/post-23.jpg" alt="">
                                                    </div>
                                                    <div class="esg-entry-cover esg-fade" data-delay="0">
                                                        <div class="esg-overlay esg-fade eg-theme-container"
                                                            data-delay="0"></div>
                                                        <div class="esg-center eg-theme-element-0-a esg-falldown"
                                                            data-delay="0.1">
                                                            <a class="eg-theme-element-0 esgbox"
                                                                href="images/post-23.jpg"
                                                                title="Innocent - a New Collection of Lingerie">
                                                                <i class="eg-icon-search"></i>
                                                            </a>
                                                        </div>
                                                        <div class="esg-center eg-theme-element-1-a esg-falldown"
                                                            data-delay="0.2">
                                                            <a class="eg-theme-element-1" href="#">
                                                                <i class="eg-icon-link"></i>
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-8 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                        <div class="esg-center eg-theme-element-3 esg-flipup"
                                                            data-delay="0.1">Innocent - a New Collection of Lingerie
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-9 esg-none esg-clear  h_5px vis_hid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li
                                                class="filterall filter-highlights-of-the-runway filter-knickers filter-undershirt eg-theme-wrapper">
                                                <div class="esg-media-cover-wrapper">
                                                    <div class="esg-entry-media">
                                                        <img src="images/post-22.jpg" alt="">
                                                    </div>
                                                    <div class="esg-entry-cover esg-fade" data-delay="0">
                                                        <div class="esg-overlay esg-fade eg-theme-container"
                                                            data-delay="0"></div>
                                                        <div class="esg-center eg-theme-element-0-a esg-falldown"
                                                            data-delay="0.1">
                                                            <a class="eg-theme-element-0 esgbox"
                                                                href="images/post-22.jpg"
                                                                title="Lilac Silk, Smooth Textures and Detail">
                                                                <i class="eg-icon-search"></i>
                                                            </a>
                                                        </div>
                                                        <div class="esg-center eg-theme-element-1-a esg-falldown"
                                                            data-delay="0.2">
                                                            <a class="eg-theme-element-1" href="#">
                                                                <i class="eg-icon-link"></i>
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-8 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                        <div class="esg-center eg-theme-element-3 esg-flipup"
                                                            data-delay="0.1">Lilac Silk, Smooth Textures and Detail
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-9 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li
                                                class="filterall filter-beautiful-reclessness filter-comfort-vs-appearance filter-briefs filter-panty-hose eg-theme-wrapper">
                                                <div class="esg-media-cover-wrapper">
                                                    <div class="esg-entry-media">
                                                        <img src="images/post-21.jpg" alt="">
                                                    </div>
                                                    <div class="esg-entry-cover esg-fade" data-delay="0">
                                                        <div class="esg-overlay esg-fade eg-theme-container"
                                                            data-delay="0"></div>
                                                        <div class="esg-center eg-theme-element-0-a esg-falldown"
                                                            data-delay="0.1">
                                                            <a class="eg-theme-element-0 esgbox"
                                                                href="images/post-21.jpg"
                                                                title="Classic Romance Style Today">
                                                                <i class="eg-icon-search"></i>
                                                            </a>
                                                        </div>
                                                        <div class="esg-center eg-theme-element-1-a esg-falldown"
                                                            data-delay="0.2">
                                                            <a class="eg-theme-element-1" href="#">
                                                                <i class="eg-icon-link"></i>
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-8 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                        <div class="esg-center eg-theme-element-3 esg-flipup"
                                                            data-delay="0.1">Classic Romance Style Today</div>
                                                        <div
                                                            class="esg-center eg-theme-element-9 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li
                                                class="filterall filter-beautiful-reclessness filter-knickers filter-undershirt eg-theme-wrapper">
                                                <div class="esg-media-cover-wrapper">
                                                    <div class="esg-entry-media">
                                                        <img src="images/post-20.jpg" alt="">
                                                    </div>
                                                    <div class="esg-entry-cover esg-fade" data-delay="0">
                                                        <div class="esg-overlay esg-fade eg-theme-container"
                                                            data-delay="0"></div>
                                                        <div class="esg-center eg-theme-element-0-a esg-falldown"
                                                            data-delay="0.1">
                                                            <a class="eg-theme-element-0 esgbox"
                                                                href="images/post-20.jpg"
                                                                title="The Most Expensive Sleepwear">
                                                                <i class="eg-icon-search"></i>
                                                            </a>
                                                        </div>
                                                        <div class="esg-center eg-theme-element-1-a esg-falldown"
                                                            data-delay="0.2">
                                                            <a class="eg-theme-element-1" href="#">
                                                                <i class="eg-icon-link"></i>
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-8 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                        <div class="esg-center eg-theme-element-3 esg-flipup"
                                                            data-delay="0.1">The Most Expensive Sleepwear</div>
                                                        <div
                                                            class="esg-center eg-theme-element-9 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li
                                                class="filterall filter-highlights-of-the-runway filter-knickers filter-undershirt eg-theme-wrapper">
                                                <div class="esg-media-cover-wrapper">
                                                    <div class="esg-entry-media">
                                                        <img src="images/post-19.jpg" alt="">
                                                    </div>
                                                    <div class="esg-entry-cover esg-fade" data-delay="0">
                                                        <div class="esg-overlay esg-fade eg-theme-container"
                                                            data-delay="0"></div>
                                                        <div class="esg-center eg-theme-element-0-a esg-falldown"
                                                            data-delay="0.1">
                                                            <a class="eg-theme-element-0 esgbox"
                                                                href="images/post-19.jpg"
                                                                title="Behind the Scenes of the Photoshoot">
                                                                <i class="eg-icon-search"></i>
                                                            </a>
                                                        </div>
                                                        <div class="esg-center eg-theme-element-1-a esg-falldown"
                                                            data-delay="0.2">
                                                            <a class="eg-theme-element-1" href="#">
                                                                <i class="eg-icon-link"></i>
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-8 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                        <div class="esg-center eg-theme-element-3 esg-flipup"
                                                            data-delay="0.1">Behind the Scenes of the Photoshoot</div>
                                                        <div
                                                            class="esg-center eg-theme-element-9 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li
                                                class="filterall filter-comfort-vs-appearance filter-briefs filter-panty-hose eg-theme-wrapper">
                                                <div class="esg-media-cover-wrapper">
                                                    <div class="esg-entry-media">
                                                        <img src="images/post-18.jpg" alt="">
                                                    </div>
                                                    <div class="esg-entry-cover esg-fade" data-delay="0">
                                                        <div class="esg-overlay esg-fade eg-theme-container"
                                                            data-delay="0"></div>
                                                        <div class="esg-center eg-theme-element-0-a esg-falldown"
                                                            data-delay="0.1">
                                                            <a class="eg-theme-element-0 esgbox"
                                                                href="images/post-18.jpg" title="Underneath It All">
                                                                <i class="eg-icon-search"></i>
                                                            </a>
                                                        </div>
                                                        <div class="esg-center eg-theme-element-1-a esg-falldown"
                                                            data-delay="0.2">
                                                            <a class="eg-theme-element-1" href="#">
                                                                <i class="eg-icon-link"></i>
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-8 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                        <div class="esg-center eg-theme-element-3 esg-flipup"
                                                            data-delay="0.1">Underneath It All</div>
                                                        <div
                                                            class="esg-center eg-theme-element-9 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li
                                                class="filterall filter-comfort-vs-appearance filter-highlights-of-the-runway filter-knickers filter-undershirt eg-theme-wrapper">
                                                <div class="esg-media-cover-wrapper">
                                                    <div class="esg-entry-media">
                                                        <img src="images/post-17.jpg" alt="">
                                                    </div>
                                                    <div class="esg-entry-cover esg-fade" data-delay="0">
                                                        <div class="esg-overlay esg-fade eg-theme-container"
                                                            data-delay="0"></div>
                                                        <div class="esg-center eg-theme-element-0-a esg-falldown"
                                                            data-delay="0.1">
                                                            <a class="eg-theme-element-0 esgbox"
                                                                href="images/post-17.jpg"
                                                                title="Always, Your Lady Pink Accessories">
                                                                <i class="eg-icon-search"></i>
                                                            </a>
                                                        </div>
                                                        <div class="esg-center eg-theme-element-1-a esg-falldown"
                                                            data-delay="0.2">
                                                            <a class="eg-theme-element-1" href="#">
                                                                <i class="eg-icon-link"></i>
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="esg-center eg-theme-element-8 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                        <div class="esg-center eg-theme-element-3 esg-flipup"
                                                            data-delay="0.1">Always, Your Lady Pink Accessories</div>
                                                        <div
                                                            class="esg-center eg-theme-element-9 esg-none esg-clear h_5px vis_hid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="container-fluid bg_dark">
                        <div class="column_row">
                            <div class="content_container">
                                <div class="column_container column-1_1  sc_layouts_column_icons_position_left">
                                    <div class="column-inner">
                                        <div class="empty_space h-5em"><span class="empty_space_inner"></span></div>
                                        <div class="empty_space  hide_on_mobile h-1_5em"><span
                                                class="empty_space_inner"></span></div>
                                        <div class="scheme_dark sc_testimonials sc_testimonials_default swiper-slider-container slider_swiper slider_noresize slider_nocontrols slider_pagination"
                                            data-slides-per-view="3" data-slides-min-width="150">
                                            <h2
                                                class="sc_item_title sc_testimonials_title sc_align_default sc_item_title_style_default">
                                                What Our Clients Say</h2>
                                            <div class="sc_item_descr sc_testimonials_descr sc_align_default">a touch of
                                                coverage never felt so sexy</div>
                                            <div class="sc_testimonials_slider sc_item_slider slides swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="sc_testimonials_item">
                                                        <div class="sc_testimonials_item_content">
                                                            <p>This is my favorite lingerie store ever. I recommend
                                                                these guys to all my friends. The service, the products
                                                                are great!</p>
                                                        </div>
                                                        <div class="sc_testimonials_item_author">
                                                            <div class="sc_testimonials_item_author_data">
                                                                <h4 class="sc_testimonials_item_author_title">Jane
                                                                    Freeman</h4>
                                                                <div class="sc_testimonials_item_author_subtitle"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="sc_testimonials_item">
                                                        <div class="sc_testimonials_item_content">
                                                            <p>After shopping at this store, there is no way you go to a
                                                                different one. Here you will find everything and
                                                                anything.</p>
                                                        </div>
                                                        <div class="sc_testimonials_item_author">
                                                            <div class="sc_testimonials_item_author_data">
                                                                <h4 class="sc_testimonials_item_author_title">Amy
                                                                    Sullivan</h4>
                                                                <div class="sc_testimonials_item_author_subtitle"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="sc_testimonials_item">
                                                        <div class="sc_testimonials_item_content">
                                                            <p>Nothing to make yourself feel better on a rainy day like
                                                                a piece of elegant underwear. Thank you for being the
                                                                best!</p>
                                                        </div>
                                                        <div class="sc_testimonials_item_author">
                                                            <div class="sc_testimonials_item_author_data">
                                                                <h4 class="sc_testimonials_item_author_title">Jar Rojas
                                                                </h4>
                                                                <div class="sc_testimonials_item_author_subtitle"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="sc_testimonials_item">
                                                        <div class="sc_testimonials_item_content">
                                                            <p>You definitely feel the difference when putting on this
                                                                amazing piece of art. The quality is magnificent,
                                                                really.</p>
                                                        </div>
                                                        <div class="sc_testimonials_item_author">
                                                            <div class="sc_testimonials_item_author_data">
                                                                <h4 class="sc_testimonials_item_author_title">Jerry
                                                                    Myers</h4>
                                                                <div class="sc_testimonials_item_author_subtitle"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slider_pagination_wrap swiper-pagination"></div>
                                        </div>
                                        <!-- /.sc_testimonials -->
                                        <div class="empty_space h-5em"><span class="empty_space_inner"></span></div>
                                        <div class="empty_space  hide_on_mobile h-1_8em"><span
                                                class="empty_space_inner"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- .entry-content -->
        </article>
    </div>
    <!-- </.content> -->
</div>
