<!DOCTYPE html>
<html lang="en-US" class="yes-js js_active js scheme_default">

<head>
    <title> Christmas Gifts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>

    <div class="fluid-container" style="padding:10px">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        Key word
                        <p><i>
                            "- số XXX: đối tượng tìm hiểu là số XXX
                        </i></p>
                        <p><i>
                            "số XXX: người xem là số XXX
                        </i></p>
                        <div id="tag-list">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-12">
                        Kịch bản
                        <p><i>
                            Cách đặt từ khóa: con số chủ đạo?, xem vấn đề gì?, năm cá nhân?, nhận xét?,tử vi?,kết quả trải?
                        </i></p>
                      
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addScriptModal">
                            Thêm kịch bản
                        </button>

                        <!-- Modal Add Script-->
                        <div class="modal fade" id="addScriptModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal-title">Kịch bản mới</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="title">Câu hỏi: </label>
                                        <textarea id="title" class="w-100"
                                            placeholder="Câu hỏi của khách"></textarea><br>
                                        <label for="content">Câu trả lời: </label>
                                        <textarea id="content" class="w-100"
                                            placeholder="Câu trả lời của bạn"></textarea><br>
                                        <label for="author">Tác giả: </label>
                                        <input id="author" class="w-100" placeholder="Người soạn"></input><br>
                                        <label for="tags">Từ khóa</label>
                                        <textarea id="tags" class="w-100"
                                            placeholder="Các từ khóa cách nhau bởi dấu ,"></textarea><br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="btn-cancel" class="btn btn-secondary"
                                            data-dismiss="modal">Hủy</button>
                                        <button type="button" class="btn btn-primary" onclick="createScript()">Tạo
                                            mới</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Modal Update Script-->
                        <div class="modal fade" id="editScriptModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal-title">Sửa kịch bản</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" value="" id="e-id">
                                        <label for="e-title">Câu hỏi: </label>
                                        <textarea id="e-title" class="w-100"
                                            placeholder="Câu hỏi của khách"></textarea><br>
                                        <label for="e-content">Câu trả lời: </label>
                                        <textarea id="e-content" class="w-100"
                                            placeholder="Câu trả lời của bạn"></textarea><br>
                                        <label for="e-author">Tác giả: </label>
                                        <input id="e-author" class="w-100" placeholder="Người soạn"></input><br>
                                        <label for="e-tags">Từ khóa</label>
                                        <textarea id="e-tags" class="w-100"
                                            placeholder="Các từ khóa cách nhau bởi dấu ,"></textarea><br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="btn-e-cancel" class="btn btn-secondary"
                                            data-dismiss="modal">Hủy</button>
                                        <button type="button" class="btn btn-primary" onclick="submitEditScript()">Chỉnh
                                            sửa</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="script-list">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var allTags = [];
        var selectedTags = [];
        $(document).ready(() => {
            getAllTags()
            getScript()
            expandTextarea('content')
            expandTextarea('tags')
            expandTextarea('title')

        })

        function createScript() {
            let title = $('#title').val();
            let content = $('#content').val();
            let author = $('#author').val();
            let tagList = getTags($('#tags').val());
            let reqData = JSON.stringify({
                title,
                content,
                author,
                tags: tagList
            })
            console.log("Giá trị:", reqData);
            $.ajax({
                method: "POST",
                url: "/api/kich-ban",
                data: reqData
            }).then(data => {
                getAllTags().then(data => { getScript() }).then(() => {
                    $('#btn-cancel').click()
                })
            })
        }

        async function getAllTags() {
            let response = await $.ajax("/api/tags").then(data => {
                for (let tag of data.data) {
                    if (allTags.indexOf(tag.title) == -1) {
                        allTags.push(tag.title);
                        $('#tag-list').append(
                            `<button class="btn single-tag" id="tag-${tag.title.replaceAll(" ", "-")}" onClick='selectTags("${tag.title}")'>${tag.title}</button>`
                        );
                    }
                }
                let tagList = $('.single-tag')
                // for(tagList)
            })
        }

        function selectTags(tag) {
            tag = tag + ''
            console.log("Chọn tag: ", tag);
            let index = selectedTags.indexOf(tag)
            if (index == -1) {
                selectedTags.push(tag);
                $(`#tag-${tag.replaceAll(" ", "-")}`).addClass("selected-tag")
            } else {
                selectedTags.splice(index, 1)
                $(`#tag-${tag.replaceAll(" ", "-")}`).removeClass("selected-tag")
            }
            getScript()
        }

        function getTags(string) {
            console.log("Tag list input: ", string);
            let tagList = [];
            let rawTag = string.split(',');
            for (let tag of rawTag) {
                tag = tag.trim().toLowerCase()
                if (tag.length > 0 && tagList.indexOf(tag) == -1) {
                    tagList.push(tag);
                }
            }
            console.log("Tag list output: ", tagList);
            return tagList
        }

        async function getScriptDetail(id) {
            let responseData = await $.ajax({
                method: "GET",
                url: `/api/kich-ban?id=${id}`,
            })
            console.log(responseData.data);
            return responseData.data
        }

        async function updateScript(id) {
            console.log("Trigger: ", id)
            let script = await getScriptDetail(id);
            console.log('Bài viết tìm thấy:', script)
            $("#e-id").val(script._id)
            $("#e-title").val(script.title)
            $("#e-content").val(script.content)
            $("#e-author").val(script.author)
            $("#e-tags").val(script.tag.join(','))
            expandTextarea('e-content')
            expandTextarea('e-tags')
            expandTextarea('e-title')
        }
        async function submitEditScript() {
            let id = $("#e-id").val()
            let title = $("#e-title").val()
            let content = $("#e-content").val()
            let author = $("#e-author").val()
            let tagList = getTags($('#e-tags').val());
            let reqData = JSON.stringify({
                id,
                title,
                content,
                author,
                tags: tagList
            })
            console.log("Giá trị:", reqData);
            $.ajax({
                method: "PUT",
                url: "/api/kich-ban",
                data: reqData
            }).then(data => {
                getAllTags().then(data => { getScript() }).then(() => {
                    $('#btn-e-cancel').click()
                })
            })
        }
        function getScript() {
            $.ajax({
                method: "POST",
                url: "/api/lay-kich-ban",
                data: JSON.stringify({ tag: selectedTags })
            }).then(data => {
                $('#script-list').empty()
                for (let script of data.data) {

                    $('#script-list').append(`
                    <div class="script-wrapper">
                        <button type="button" class="btn btn-warning"  data-toggle="modal" data-target="#editScriptModal" onClick="updateScript('${script._id}')">Sửa</button>
                        <p class="script-tag">${script.tag.join(" - ")}</p>
                        <h5 class="script-title">${script.title ? script.title : "Chưa đặt tiêu đề"}</h5>
                        <b class="script-author">${script.author ? script.author : "Chưa có tác giả"}</b><br>
                        <p class="script-content">${script.content ? script.content : "Chưa có content"}</p>
                        
                    </div>
                    `)
                }
            })
        }

        function expandTextarea(id) {
            document.getElementById(id).addEventListener('keyup', function () {
                this.style.overflow = 'hidden';
                this.style.height = 0;
                this.style.height = this.scrollHeight + 'px';
            }, false);
        }

    </script>
    <style>
        textarea {
            margin: 0px 0px;
            padding: 10px;
            min-height: 16px;
            line-height: 16px;
            width: 96%;
            display: block;
            margin: 0px auto;
        }

        .single-tag {
            background-color: dodgerblue;
            color: white;
            padding: 5px;
            margin: 5px;
            border-radius: 15px;
            border: none;
            cursor: pointer;
        }

        .selected-tag {
            background-color: yellowgreen
        }

        .script-wrapper {
            background-color: #3a3b3c;
            padding: 10px;
            border-radius: 20px;
            color: white !important;
            margin: 5px;

        }

        .script-tag {
            color: red !important;
        }

        .script-content {
            max-height: 300px;
            overflow-y: scroll;
        }
    </style>
</body>

</html>